@font-face {
    font-family: Legionary;
    font-weight: 100;
    src: url(./fonts/Legionary.ttf);
  }

body {
  margin: 0;
  font-family: Legionary;
}

#container {
  display: flex;
  align-items: center;
}

#logo {
  width: 200px;
}

#demo {
  margin: 0;
  text-align: left;
  font-size: 160px;
  color: #fffcf6;
  -webkit-text-stroke: 4px #f7a400;
}
